name: PyStg

on:
  workflow_dispatch:
  push:
    branches:
      - py/*
  pull_request:
    types: [opened, reopened]

defaults:
  run:
    shell: bash

env:
  BUILD_TYPE: Release

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude cmake*,venv
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude cmake*,venv

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        compiler: [ GCC, Clang ]

    steps:
      - uses: actions/checkout@v2

      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v2
        with:
          path: ${{ runner.workspace }}/Qt
          key: ${{ runner.os }}-QtCache

      - name: Install boost
        uses: MarkusJx/install-boost@v1.0.1
        id: install-boost
        with:
          boost_version: 1.73.0

      - name: Install boost dev packages
        run: |
          sudo apt-get install libboost-python-dev -y

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          cached: ${{ steps.cache-qt.outputs.cache-hit }}

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Install Virtualenv
        uses: syphar/restore-virtualenv@v1

      - name: Configure CMake
        working-directory: ${{github.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . --config $BUILD_TYPE

      - name: Test
        working-directory: ${{github.workspace}}/build/lib/pystego/tests
        run: ctest -C $BUILD_TYPE
